[data]
  name = {{ promptString "Git full name" | quote }}
  email = {{ promptString "Git email" | quote }}
  install_profile = {{ promptChoice "Install profile" (list "full" "lean") | quote }}
  is_vm = {{ promptBool "Is this a VM" | toToml }}
