{{- $name := promptString "Git full name" .name -}}
{{- $email := promptString "Git email" .email -}}
{{- $install_profile := promptChoice "Install profile" (list "full" "lean") .install_profile -}}
{{- $is_vm := promptBool "Is this a VM" .is_vm -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  install_profile = {{ $install_profile | quote }}
  is_vm = {{ $is_vm | toToml }}
